<% provide(:title, 'Kiracı Takip') %>
<h1>Yeni Kiracı</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@renter) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

        <h5>* işaretli alanlar zorunludur</h5>

	  <%= f.label :ap_num%>
	  <%= f.select :ap_num , 1..40 %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :phone %>
      <%= f.text_field :phone %>

      <%= f.label :email %>
      <%= f.text_field :email %>

        <%= f.label :meslek %>
        <%= f.text_field :meslek %>

        <%= f.label :medeni_durum %>
        <%= f.text_field :medeni_durum %>

        <%= f.label :birey_sayisi %>
        <%= f.text_field :birey_sayisi %>

        <%= f.label :cocuk_sayisi %>
        <%= f.text_field :cocuk_sayisi %>

        <%= f.label :memleket %>
        <%= f.text_field :memleket %>

        <%= f.label :ev_sahibi %>
        <%= f.text_field :ev_sahibi %>

        <%= f.label :ev_sahibi_telefon %>
        <%= f.text_field :ev_sahibi_telefon %>

        <%= f.label :kira_miktari %>
        <%= f.text_field :kira_miktari %>


      <%= f.submit "Kiracıyı Ekle", class: "btn btn-large btn-primary submit_btn_loc" %>
    <% end %>
  </div>
</div>