<h1>Yeni Duyuru</h1>
<%= form_for @post do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <p>
    <%= f.label :Başlık %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :İçerik %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
   <%= f.submit "Duyuruyu Yayınla", class: "btn btn-large btn-primary" %>
    
  </p>
<% end %>



<%=link_to "Geri Dön", posts_path %>
