<% provide(:title, 'Yeni Aidat Girdisi') %>

<% if current_user.admin? %>
    <%= link_to "Aidat Sayfası'na Git", aidats_path %>
<% end %>

    <h1>Aidat Ekle</h1>
    <div class="row">
      <div class="span6 offset3">

        <!--<%= form_for :aidatform, url:aidats_path do |f| %>!-->
		<%= form_for(@aidat) do |f| %>
            <%= f.label :daire %>
            <%= f.select :daire , 1..40 %>

            <%= f.label :year %><br>
            <%= f.select :year , [2013,2014,2015,2016,2017,2018,2019,2020,2021,2022] %>

            <%= f.label :month %><br>
            <%= f.select :month , ['Ocak','Şubat','Mart','Nisan','Mayıs','Haziran','Temmuz','Ağustos','Eylül','Ekim','Kasım', 'Aralık'] %>

            <p>
              <%= f.submit "Ekle", class: "btn btn-large btn-primary aidat_btn_loc" %>
            </p>

        <% end %>
<% end %>
      </div>
   </div>